.NavBar {
    height: 60px;
    background-color: rgb(201, 255, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.brand {
    font-size: 150%;
    font-weight: 600;
}

.brand:hover {
    scale: 1.05;
    rotate: -3deg;
}

.NavBar .container {
    display: flex;
    justify-content: space-between;
}

.NavBar .brand,
.link {
    color: black;
    text-decoration: none;
}

.NavBar .links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.NavBar .link:hover {
    color: rgb(85, 159, 94);
}

.NavBar .link {
    padding-bottom: 3px;
    padding-inline: 5px;
}

.active {
    color: rgb(51, 129, 92);
}

.sign-out {
    background-color: transparent !important;
    color: #215a40 !important;
    border: 2px solid #215a40;
    padding-bottom: 7px !important;
    padding-inline: 15px !important;
    transition: all ease .4s !important;     
}

.sign-out:hover {
    background-color: black !important;
    color: #b7ffdf !important;
    border: 2px solid #b7ffdf00;
    font-weight: 400;
}

.username {
    margin-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    word-spacing: 3px;
}
